<form id="post_form" action="/admin/posts/<%= @post.id %>" method="post" accept-charset="utf-8">
  <div id="post_form_container">
    
  <div id="post_form_left">
  <% if @messages %>
    <p class="error">Error:<br/> 
    <%= @messages.join('<br/>') %></p>
  <% end %>
  <input type="hidden" name="_method" value="put" id="_method"/>
  <p>
    <%= text_field 'title', @post.title %>
  </p>
  <p>
    <label for="content">Content</label><br/>
    <%= text_area 'content', @post.content, {:class=>'jquery_ckeditor'} %>
  </p>
  </div>
  
  </div>
  
  <div id="post_form_right">
    
  <div class="admin_box form_buttons"><input type="submit" value="Update"/></div>
  
  <div class="admin_box tags">
    <%= partial :"admin/_tags_chooser", :locals=>{:post=>@post, :tags=>@tags} %>
  </div>
  </div>
  
</form>