<form action="/admin/posts/<%= @post.id %>" method="post" accept-charset="utf-8">
  <% if @messages %>
    <p class="error">Error:<br/> 
    <%= @messages.join('<br/>') %></p>
  <% end %>
  <input type="hidden" name="_method" value="put" id="_method"/>
  <p>
    <label for="title">Title</label><br/>
    <%= text_field 'title', @post.title %>
  </p>
  <p>
    <label for="content">Content</label><br/>
    <%= text_area 'content', @post.content %>
  </p>
  <p>
    <%= partial :"admin/_tags_chooser", :locals=>{:post=>@post, :tags=>@tags} %>
  </p>
  <p><input type="submit" value="Update"/></p>
</form>
