<div class="post_preview">
  <h2>
    <a href="/<%= post.published_at.year %>/<%= post.published_at.month %>/<%= post.published_at.day %>/<%= post.slug %>">
      <%= post.title %>
    </a>
  </h2>
<%= post.content %>
<p class="date"><%= post.published_at.strftime(options.conf.date_format) %></p>
<p class="tags">
  <%= 'Tags: ' if post.tags.length > 0 %>
  <%= post.tags.map {|t| link_to t.name, "/tags/#{t.slug}" }.join(', ') %></p>
</div>