<div id="sidebar">
  <% unless @latest_comments.empty? %>
  <h3>Latest Comments</h3>
  <div class="sidebar_block">
    <ul>
    <% @latest_comments.each do |comment| %>
      <% puts comment.inspect%>
      <li><%= comment.name %> on <a href="<%= post_url(comment.post) %>#comment_<%= comment.id %>"><%= comment.post.title %></a></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  
  <% unless @months.empty? %>
  <h3>Archive</h3>
  <div class="sidebar_block">
    <ul>
    <% @months.each do |month| %>
      <li><%= link_to month[0].strftime('%B %Y'), "/archive/#{month[0].year}/#{month[0].month}" %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  
  <% unless @tags.empty? %>
  <h3>Tags</h3>
  <div class="sidebar_block">
    <ul>
    <% @tags.each do |tag| %>
      <li><%= link_to tag.name, "/tags/#{tag.slug}" %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  
</div>