<html>
<head>
  <title><%= options.conf.blog_title %></title>
  <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" title="no title" charset="utf-8"/>
</head>
<body>
  <div id="wrapper">
  
  <%= partial :_header %>
    
    <div id="content">
    <%= yield %> 
    </div><!-- /content -->
    
  <%= partial :_sidebar, :locals=>{:tags=>@tags} %>
  
  <%= partial :_footer %>
  
  </div><!-- /wrapper -->
</body>
</html>