<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="keywords" content="blog" />
  <meta name="description" content="<%= options.conf.blog_tagline %>" />
  <link rel="alternate" type="application/rss+xml" title="<%= options.conf.blog_title %>" href="/rss.xml" />
  <title><%= options.conf.blog_title %></title>
  <link rel="stylesheet" href="<%= css_directory %>/style.css" type="text/css" media="screen" charset="utf-8"/>
  <script src="<%= js_directory %>/common.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
  <div id="wrapper">
  
  <%= partial get_header %>
    
    <div id="content">
    <%= yield %> 
    </div><!-- /content -->
    
  <%= partial get_sidebar, :locals=>{:tags=>@tags, :months=>@months} %>
  
  <%= partial get_footer %>
  
  </div><!-- /wrapper -->
</body>
</html>