<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="keywords" content="blog" />
  <meta name="description" content="<%= options.conf.blog_tagline %>" />
  
  <title><%= options.conf.blog_title %></title>
  <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" title="no title" charset="utf-8"/>
</head>
<body>
  <div id="wrapper">
  
  <%= partial :_header %>
    
    <div id="content">
    <%= yield %> 
    </div><!-- /content -->
    
  <%= partial :_sidebar, :locals=>{:tags=>@tags, :months=>@months} %>
  
  <%= partial :_footer %>
  
  </div><!-- /wrapper -->
</body>
</html>