<div id="posts">
<% if @posts %>
  <% @posts.each do |post| %>
    <%= partial get_post, :locals=>{:post=>post} %>
    <p class="comments"><a href="<%= post_url(post) %>#comments"><%= nb_comments(post.comments.length) %></a></p>
  <% end %>
<% end %>
</div>
<div id="pagination">
<%= @paginator.prev %>
<%= @paginator.pages %>
<%= @paginator.next %>
</div>